{% extends 'base.html' %} 
{% block title %} <title>{{story.title}}</title> {% endblock %}
{% block content %}
{% load liked_filter %}
{% load social_share %}
{% load humanize %} 

<div class="container mt-4 mb-4">
 
        <div class="story card shadow-sm d-flex justify-content-between">
          <div class="dropdown story-actions"> 
              <i class="fas fa-ellipsis-v" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item report-story" data-story-id="{{story.id}}">Report</a></li>
            </ul>
          </div>
            <div>
            <div class="image-holder">
                <img src="{{story.get_photo_url}}" class="story-image"/>
            </div>
            <div class="story-body p-2 ps-3 pe-3">
                <div class="story-title">{{story.title}}</div>
                <div class="story-content">{{story.story}}</div>
            </div>
            <div class="story-author text-center p-2 mt-3 mb-3">~ 
            {% if story.anonymus %}
            Anonymous
            {% else %}
            {{story.user.name}}
            {% endif %}
            </div>
        </div>
            <div class="story-footer p-3">
         
                <div class="likes">
                    <i class="fas fa-thumbs-up"></i> 
                    <span id="likes-{{story.id}}" class="ms-1">{{story.likes.all.count}}</span>
                </div>
            <hr/>
            <div class="d-flex justify-content-between align-items-center">
                <i class="fas fa-thumbs-up fa-lg like-btn  {% if story.likes.all|liked:request.user %} active {% endif %}" role="button" data-like-id="{{story.id}}"></i>
         
            <button data-story-id="{{story.id}}" type="button" class="btn btn-primary share-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fas fa-share me-2"></i>Share
              </button>
            </div>
            </div>
            <div class="story-comments p-2 mt-2">
                <h2 class="display-6">Comments</h2>
            <form method="POST" action="{% url 'add_comment' story.id %}">
                {% csrf_token %}
                <div class="form-group col-md-8 mt-4">
                    <input type="text" hidden readonly name="stars" id="comment-input" class="form-control form-control-sm">
                    <textarea class="form-control" name="comment" placeholder="Comment" required></textarea>
                </div>
                <div class="form-group mt-3 d-flex justify-content-end col-md-8">
                    <button class="btn btn-primary" type="submit">Comment </button>
                </div>
            </form>

            {% if story.story_comments.all %}
            <div class="story-comments mt-4">
            {% for comment in story.story_comments.all %}
            <div class="comment d-flex flex-column mb-4">
            <span class="fw-bold comment-header">{{comment.user.name}}
            
            {% if request.user == comment.user %}
            <span><i class="fas fa-ellipsis-v" role="button" id="dropdownMenuLink-{{comment.id}}" data-bs-toggle="dropdown" aria-expanded="false"></i>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink-{{comment.id}}">
                <li><a class="dropdown-item" href="{% url 'delete_comment' comment.id %}">Delete</a></li>
            </ul>
            </span> 
            {% endif %}
        </span> 
            <span class="">{{comment.comment}}</span>
            <span class="text-muted published-date mt-1">Published {{comment.created_at|naturaltime}}</span>
           </div>
           {% endfor %}
            </div>
            {% endif %}
        </div>


</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Share to your socials</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" id="share-modal">
    
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide bg-success text-light" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Lych33</strong>
     
        <button type="button" id="dismiss-toast" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Story has been reported successfully!
      </div>
    </div>
  </div>
{% endblock %}
{% block additional_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>

function getCookie(name) {
var cookieValue = null;
  if (document.cookie && document.cookie != "") {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      if (cookie.substring(0, name.length + 1) == name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

$(".like-btn").click(function(){
    const story_id = $(this).attr("data-like-id");

    if($(this).hasClass("active")){
        $(this).removeClass("active")
    }else{
        $(this).addClass("active")
    }


    const csrftoken = getCookie("csrftoken");
    // send like request
    $.ajax({
        url: "/like-story/"+ story_id +"/",
        type:"POST",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken",csrftoken);

            }
        }).done(function (data) {
            // only return true when step 1 has been saved successfully
          
           $(`#likes-${story_id}`).text(data.likes)

        }).fail(function(error){
         console.log(error)
        })
})
// share buttons

$(".share-btn").click(function(){
    const id = $(this).attr("data-story-id")
   const link = "https://travel-site.onrender.com/stories/"+ $(this).attr("data-story-id")

   $("#share-modal").html(`
   {% post_to_facebook "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Facebook</button>" %}
    {% post_to_twitter "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Twitter</button>" %}    
    {% post_to_whatsapp "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Whatsapp</button>" %}
    {% send_email "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to email!</button>" %}
   `)
})

// reporting stroy

$(".report-story").each(function(){
  $(this).click(function(){
    $.ajax({
            url: "/report-story/"+ $(this).attr("data-story-id")+"/",
            type:"GET",
                beforeSend: function(xhr, settings) {
              

            }
        }).done(function (data) {
          $("#liveToast").removeClass("hide").addClass("show")

        }).fail(function(error){
        })
 
  })
})

$("#dismiss-toast").click(function(){
  $("#liveToast").removeClass("show").addClass("hide")
})
</script>
{% endblock %}
