{% extends 'base.html' %} 
{% block title %} <title>Home</title> {% endblock %}
{% block content %}
{% load liked_filter %}
{% load social_share %}
<div class="container mt-4 mb-4">
  {% include 'includes/ad.html' with ad=ads.0 %}
    <div class="stories-holder flex-column">
      {% for story in stories %}
      <div class="story d-flex">
       <div class="story-uploader me-3">
        <img src="{{story.user.get_photo_url}}"/>
       </div>
       <div class="story-content d-flex flex-column">
        <div class="d-flex justify-content-between story-content-header">
          <div>
          <a href="{% url 'dashboard' story.user.id %}" class="story-uploader-name">@{{story.user.name}}</a>.
          <span class="text-primary" role="button">Follow</span>
        </div>
          <div class="dropdown story-actions"> 
            <i class="fas fa-ellipsis-h" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item report-story" data-story-id="{{story.id}}">Report</a></li>
          </ul>
        </div>
        </div>
        <div>
          {{story.story}}
        </div>
        <div class="d-flex justify-content-center mt-2">
          <div class="image-holder">
            <div id="story-carousel-{{story.id}}" class="carousel story-carousel-list slide" data-bs-ride="carousel" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{story.get_photo_url}}" class="story-image"/> 
                </div>
               
                {% if story.video %}
                <div class="carousel-item">
                  <video class="story-video" autoplay="false" controls="controls" preload="preload">
                    <source src="{{story.get_video_url}}.mp4" type="video/mp4"></source>
                  </video>
                </div>
                {% endif %}
              </div>
              {% if story.video %}
              <button class="carousel-control-prev" type="button" data-bs-target="#story-carousel-{{story.id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#story-carousel-{{story.id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              {% endif %}
            </div>
            </div>


        </div>
        <div class="d-flex justify-content-start">
        <div class="d-flex mt-4 story-footer justify-content-between">
          <div class="d-flex justify-content-center align-items-center">
            <i class="fas fa-heart fa-lg like-btn  {% if story.likes.all|liked:request.user %} active {% endif %}" role="button" data-like-id="{{story.id}}"></i>
             <span class="ms-2" id="likes-{{story.id}}">{{story.likes.all.count}}</span>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <a href="{% url 'story_detail' story.id %}" class="p-0 g-0 m-0 text-reset"><i class="fas fa-comment fa-lg" role="button"></i></a>
            <span  class="ms-2" >{{story.comments.all.count}}</span>
          </div>
          <div class="share">
            <span data-story-id="{{story.id}}" type="button" class="share-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <i class="fas fa-share me-2"></i>
            </span>
          </div>
        </div>
        </div>
       </div>
    </div>
   
    {% endfor %}


    </div>
    {% include 'includes/ad.html' with ad=ads.1 %}
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Share to your socials</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" id="share-modal">
    
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide bg-success text-light" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Lych33</strong>
     
        <button type="button" id="dismiss-toast" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Story has been reported successfully!
      </div>
    </div>
  </div>
{% endblock %}
{% block additional_js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>

function getCookie(name) {
var cookieValue = null;
  if (document.cookie && document.cookie != "") {
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      if (cookie.substring(0, name.length + 1) == name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}

$(".like-btn").click(function(){
    const story_id = $(this).attr("data-like-id");

    if($(this).hasClass("active")){
        $(this).removeClass("active")
    }else{
        $(this).addClass("active")
    }


    const csrftoken = getCookie("csrftoken");
    // send like request
    $.ajax({
        url: "/like-story/"+ story_id +"/",
        type:"POST",
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken",csrftoken);

            }
        }).done(function (data) {
            // only return true when step 1 has been saved successfully
          
           $(`#likes-${story_id}`).text(data.likes)

        }).fail(function(error){
         console.log(error)
        })
})
// share buttons

$(".share-btn").click(function(){
    const id = $(this).attr("data-story-id")
   const link = "https://travel-site.onrender.com/stories/"+ $(this).attr("data-story-id")

   $("#share-modal").html(`
   {% post_to_facebook "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Facebook</button>" %}
    {% post_to_twitter "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Twitter</button>" %}    
    {% post_to_whatsapp "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to Whatsapp</button>" %}
    {% send_email "https://travel-site.onrender.com/" "<button class='share-btn btn'>Share to email!</button>" %}
   `)
})

// reporting stroy

$(".report-story").each(function(){
  $(this).click(function(){
    $.ajax({
            url: "/report-story/"+ $(this).attr("data-story-id")+"/",
            type:"GET",
                beforeSend: function(xhr, settings) {
              

            }
        }).done(function (data) {
          $("#liveToast").removeClass("hide").addClass("show")

        }).fail(function(error){
        })
 
  })
})

$("#dismiss-toast").click(function(){
  $("#liveToast").removeClass("show").addClass("hide")
})
</script>
{% endblock %}
